form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 100px 37%;
}

input {
  width: 500px;
  height: 25px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid
}

button {
  color: white;
  background-color: #003BE5;
  width: 150px;
  height: 38px;
  cursor: pointer;
  border: 1px solid;
  transition: filter 0.2s;
}

button:disabled {
  cursor: default;
  filter: brightness(0.8);
}

#resultados {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}